#navbar{
    color: white;
    background-color: black;
    display: flex;
}
  
#logo{
    height: 60px;
    width: auto;
}

.navbarLogo{
    width: 100%;
    justify-content: space-between;
    
}

.right{
    color: black;
    align-items: center;
}

.navbar-container{
    padding: 0px 50px;
    align-items: center;
    justify-content: space-between;

}

        