#navbar{
    color: white;
    background-color: black;
    display: flex;
}
  
  
#logo{
    height: 60px;
    width: auto;
}

.navbarLogo{
    width: 100%;
    padding-left: 100px;
    justify-content: space-between;
    
}

.span{
    padding-left: 20px;
}

.right{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-right: 100px;

 

}

.navbar-container{
    padding: 0px 50px;
    align-items: center;
    justify-content: space-between;

}